In [1]:
import pandas as pd
from numpy import nan
import math
import numpy as np

In [2]:
data = pd.read_csv('full_data.csv',index_col=0)

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (126,127,169) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#### read a excel file that contain feature name and unavailable code number
features = pd.read_excel('Features_missing.xlsx')

In [4]:
#### slicing the data that only contain not reported data code
Not_reported = features[features['Not_reported'].notnull()].reset_index(drop=True)
Not_reported = Not_reported.loc[:,['Feature','Not_reported']]

#### slicing the data that only contain Unknown data code
Unknown = features[features['Unknown'].notnull()].reset_index(drop=True)
Unknown = Unknown.loc[:,['Feature','Unknown']]

#### slicing the data that only contain none data code
none = features[features['None'].notnull()].reset_index(drop=True)
none = none.loc[:,['Feature','None']]

#### slicing the data that only contain Not_Applicable data code
Not_Applicable = features[features['Not_Applicable'].notnull()].reset_index(drop=True)
Not_Applicable = Not_Applicable.loc[:,['Feature','Not_Applicable']]

In [5]:
Not_reported.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Feature       101 non-null    object
 1   Not_reported  101 non-null    float64
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [6]:
Unknown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Feature  162 non-null    object
 1   Unknown  162 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.7+ KB

In [7]:
Unknown

      Feature  Unknown
0     NUM_INJ     99.0
1    DAY_WEEK      9.0
2        HOUR     99.0
3      MINUTE     99.0
4     HARM_EV     99.0
..        ...      ...
157  MDRDSTRD     99.0
158  MDRMANAV     99.0
159  DRIMPAIR     99.0
160  MVIOLATN     99.0
161  MVISOBSC     99.0

[162 rows x 2 columns]

In [8]:
none.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Feature  30 non-null     object
 1   None     30 non-null     object
dtypes: object(2)
memory usage: 608.0+ bytes

In [9]:
Not_Applicable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Feature         37 non-null     object
 1   Not_Applicable  37 non-null     float64
dtypes: float64(1), object(1)
memory usage: 720.0+ bytes

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134420 entries, 0 to 134419
Columns: 226 entries, CASENUM to MVISOBSC
dtypes: float64(218), int64(1), object(7)
memory usage: 232.8+ MB

In [11]:
#### change all the not reported number to NA
for x in range(101):
    feature = Not_reported.iloc[x,0]
    Not_reported_number = Not_reported.iloc[x,1]
    data[feature] = data[feature]. replace(Not_reported_number, "")
    
#### change all the Unknown number to NA
for x in range(162):
    feature = Unknown.iloc[x,0]
    Unknown_number = Unknown.iloc[x,1]
    data[feature] = data[feature]. replace(Unknown_number, "")
    
#### change all the None number to NA
for x in range(30):
    feature = none.iloc[x,0]
    none_number = none.iloc[x,1]
    data[feature] = data[feature]. replace(none_number, "")
    
#### change all the Not Applicable number to NA
for x in range(37):
    feature = Not_Applicable.iloc[x,0]
    Not_Applicable_number = Not_Applicable.iloc[x,1]
    data[feature] = data[feature]. replace(Not_Applicable_number, "")

In [12]:
# drop the columns that have too many missing values
# threshold = 0.5

frac = len(data) * 0.5
data_dropped = data.dropna(thresh=frac, axis = 1)
data_dropped = data_dropped.drop('MDAREAS', axis = 1)

data_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134420 entries, 0 to 134419
Columns: 156 entries, CASENUM to MVISOBSC
dtypes: float64(54), int64(1), object(101)
memory usage: 161.0+ MB

In [13]:
data_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134420 entries, 0 to 134419
Columns: 156 entries, CASENUM to MVISOBSC
dtypes: float64(54), int64(1), object(101)
memory usage: 161.0+ MB

In [14]:
data_dropped.to_csv('data_dropped_0.5.csv')

In [15]:
data_dropped.head()

,CASENUM,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,VE_TOTAL,VE_FORMS,PVH_INVL,...,PCRASH1_IM,MXVSEV_IM,NUMINJ_IM,V_ALCH_IM,MFACTOR,MDRDSTRD,MDRMANAV,DRIMPAIR,MVIOLATN,MVISOBSC
0,201800381338,4.0,56.0,208.0,208.0,1.0,9.0,4.0,4.0,0.0,...,1,0,0.0,2.0,,,4,,,
1,201800381338,4.0,56.0,208.0,208.0,1.0,9.0,4.0,4.0,0.0,...,2,0,0.0,2.0,,,4,,,
2,201800381338,4.0,56.0,208.0,208.0,1.0,9.0,4.0,4.0,0.0,...,5,0,0.0,2.0,,,,,,
3,201800381338,4.0,56.0,208.0,208.0,1.0,9.0,4.0,4.0,0.0,...,5,0,0.0,2.0,,,,,,
4,201800381366,4.0,56.0,214.0,214.0,1.0,7.0,3.0,3.0,0.0,...,1,1,1.0,2.0,,,,,,

In [16]:
################# function to get the item list of a column which does not include nan
def items (df, c):
    vals = df[c].unique().tolist()
    # if it's numerical (numbers)
    if np.issubdtype(df[c].dtype, np.number) == True:
        vals = [x for x in vals if not math.isnan(x)]
        vals.sort()
        return vals
    else:
    # if it's str
        vals = [x for x in vals if x != np.nan]
        return vals

In [17]:
def inputnumerical ():
    lst = [] 
    lst = [x for x in input("Enter columns that don't need to encode (eg: AAA, BBB): ").split()] 
    return lst

In [18]:
################## encoding 
def encoding (df):
    current_progress = 0

    
    # ask user which (numerical) columns should be skipped in this process
    num_cols = inputnumerical()
    print('the number of column that dont need to encoded is', len(num_cols))
    # iterate columns
    for column in df:

        ## print progress
        current_progress = current_progress+1
        column_len = len(df.columns)
        if current_progress % 1 == 0:
            progress = current_progress/column_len *100
            #print('current column is', current_progress)
            print("progress is {}% complete.".format(round(progress,2)))        
    
    
        # check if the column is numerical
        if column in num_cols:
            continue
        # encoding
        else: 
            # get the length of the list of unique values
            unique = items(df, column)
            len_unique = len(unique)
            # make a new list contains 1,2,3,4,5...
            codes = list(range(0, len_unique))
            
            # using for loop to replace the value
            for i in range(0,len_unique):
                df[column].replace(to_replace = unique[i], value = codes[i], inplace = True)
                
 
    return df

In [19]:
######## columns that don't need to encode:
#CASENUM PJ STARATUM PSUSTRAT VEH_NO PER_NO STR_VEH MAKE MAK_MOD MODEL DR_ZIP VIN MCARR_I2 MCARR_ID TRLR1VIN TRLR2VIN TRLR3VIN PMODEL PMAK_MOD PVIN PMCARR_I1 PMCARR_I2 PMCARR_ID PHAZ_ID PTRLR1VIN PTRLR2VIN PTRLR3VIN HAZ_ID VE_TOTAL VE_FORMS PVH_INVL PERMVIT PERNOTMVIT NUM_INJ NUMINJ_IM WEIGHT AGE AGE_IM PBAGE NUMOCCS TRAV_SP MONTH YEAR DAY_WEEK HOUR MINUTE MOD_YEAR PMODYEAR PMONTH PHOUR PMINUTE

In [20]:
df = encoding(data_dropped)

Enter columns that don't need to encode (eg: AAA, BBB): CASENUM PJ STARATUM PSUSTRAT VEH_NO PER_NO STR_VEH MAKE MAK_MOD MODEL DR_ZIP VIN MCARR_I2 MCARR_ID TRLR1VIN TRLR2VIN TRLR3VIN PMODEL PMAK_MOD PVIN PMCARR_I1 PMCARR_I2 PMCARR_ID PHAZ_ID PTRLR1VIN PTRLR2VIN PTRLR3VIN HAZ_ID VE_TOTAL VE_FORMS PVH_INVL PERMVIT PERNOTMVIT NUM_INJ NUMINJ_IM WEIGHT AGE AGE_IM PBAGE NUMOCCS TRAV_SP MONTH YEAR DAY_WEEK HOUR MINUTE MOD_YEAR PMODYEAR PMONTH PHOUR PMINUTE
the number of column that dont need to encoded is 51
progress is 0.64% complete.
progress is 1.28% complete.
progress is 1.92% complete.
progress is 2.56% complete.
progress is 3.21% complete.
progress is 3.85% complete.
progress is 4.49% complete.
progress is 5.13% complete.
progress is 5.77% complete.
progress is 6.41% complete.
progress is 7.05% complete.
progress is 7.69% complete.
progress is 8.33% complete.
progress is 8.97% complete.
progress is 9.62% complete.
progress is 10.26% complete.
progress is 10.9% complete.
progress is 11.54% complete.
progress is 12.18% complete.
progress is 12.82% complete.
progress is 13.46% complete.
progress is 14.1% complete.
progress is 14.74% complete.
progress is 15.38% complete.
progress is 16.03% complete.
progress is 16.67% complete.
progress is 17.31% complete.
progress is 17.95% complete.
progress is 18.59% complete.
progress is 19.23% complete.
progress is 19.87% complete.
progress is 20.51% complete.
progress is 21.15% complete.
progress is 21.79% complete.
progress is 22.44% complete.
progress is 23.08% complete.
progress is 23.72% complete.
progress is 24.36% complete.
progress is 25.0% complete.
progress is 25.64% complete.
progress is 26.28% complete.
progress is 26.92% complete.
progress is 27.56% complete.
progress is 28.21% complete.
progress is 28.85% complete.
progress is 29.49% complete.
progress is 30.13% complete.
progress is 30.77% complete.
progress is 31.41% complete.
progress is 32.05% complete.
progress is 32.69% complete.
progress is 33.33% complete.
progress is 33.97% complete.
progress is 34.62% complete.
progress is 35.26% complete.
progress is 35.9% complete.
progress is 36.54% complete.
progress is 37.18% complete.
progress is 37.82% complete.
progress is 38.46% complete.
progress is 39.1% complete.
progress is 39.74% complete.
progress is 40.38% complete.
progress is 41.03% complete.
progress is 41.67% complete.
progress is 42.31% complete.
progress is 42.95% complete.
progress is 43.59% complete.
progress is 44.23% complete.
progress is 44.87% complete.
progress is 45.51% complete.
progress is 46.15% complete.
progress is 46.79% complete.
progress is 47.44% complete.
progress is 48.08% complete.
progress is 48.72% complete.
progress is 49.36% complete.
progress is 50.0% complete.
progress is 50.64% complete.
progress is 51.28% complete.
progress is 51.92% complete.
progress is 52.56% complete.
progress is 53.21% complete.
progress is 53.85% complete.
progress is 54.49% complete.
progress is 55.13% complete.
progress is 55.77% complete.
progress is 56.41% complete.
progress is 57.05% complete.
progress is 57.69% complete.
progress is 58.33% complete.
progress is 58.97% complete.
progress is 59.62% complete.
progress is 60.26% complete.
progress is 60.9% complete.
progress is 61.54% complete.
progress is 62.18% complete.
progress is 62.82% complete.
progress is 63.46% complete.
progress is 64.1% complete.
progress is 64.74% complete.
progress is 65.38% complete.
progress is 66.03% complete.
progress is 66.67% complete.
progress is 67.31% complete.
progress is 67.95% complete.
progress is 68.59% complete.
progress is 69.23% complete.
progress is 69.87% complete.
progress is 70.51% complete.
progress is 71.15% complete.
progress is 71.79% complete.
progress is 72.44% complete.
progress is 73.08% complete.
progress is 73.72% complete.
progress is 74.36% complete.
progress is 75.0% complete.
progress is 75.64% complete.
progress is 76.28% complete.
progress is 76.92% complete.
progress is 77.56% complete.
progress is 78.21% complete.
progress is 78.85% complete.
progress is 79.49% complete.
progress is 80.13% complete.
progress is 80.77% complete.
progress is 81.41% complete.
progress is 82.05% complete.
progress is 82.69% complete.
progress is 83.33% complete.
progress is 83.97% complete.
progress is 84.62% complete.
progress is 85.26% complete.
progress is 85.9% complete.
progress is 86.54% complete.
progress is 87.18% complete.
progress is 87.82% complete.
progress is 88.46% complete.
progress is 89.1% complete.
progress is 89.74% complete.
progress is 90.38% complete.
progress is 91.03% complete.
progress is 91.67% complete.
progress is 92.31% complete.
progress is 92.95% complete.
progress is 93.59% complete.
progress is 94.23% complete.
progress is 94.87% complete.
progress is 95.51% complete.
progress is 96.15% complete.
progress is 96.79% complete.
progress is 97.44% complete.
progress is 98.08% complete.
progress is 98.72% complete.
progress is 99.36% complete.
progress is 100.0% complete.

In [21]:
df.head()

,CASENUM,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,VE_TOTAL,VE_FORMS,PVH_INVL,...,PCRASH1_IM,MXVSEV_IM,NUMINJ_IM,V_ALCH_IM,MFACTOR,MDRDSTRD,MDRMANAV,DRIMPAIR,MVIOLATN,MVISOBSC
0,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,2,0.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0
3,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,2,0.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0
4,201800381366,3.0,37.0,214.0,66.0,0.0,5.0,3.0,3.0,0.0,...,0,1.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0

In [22]:
df.to_csv('data_encoded.csv')

In [23]:
df

,CASENUM,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,VE_TOTAL,VE_FORMS,PVH_INVL,...,PCRASH1_IM,MXVSEV_IM,NUMINJ_IM,V_ALCH_IM,MFACTOR,MDRDSTRD,MDRMANAV,DRIMPAIR,MVIOLATN,MVISOBSC
0,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,2,0.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0
3,201800381338,3.0,37.0,208.0,62.0,0.0,7.0,4.0,4.0,0.0,...,2,0.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0
4,201800381366,3.0,37.0,214.0,66.0,0.0,5.0,3.0,3.0,0.0,...,0,1.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134415,201801320632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,7.0,0.0,1.0,15.0,21.0,8.0,9.0,52.0,17.0
134416,201801325730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,7.0,0.0,1.0,0.0,21.0,8.0,9.0,52.0,17.0
134417,201801349838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,7.0,0.0,1.0,0.0,21.0,8.0,9.0,52.0,17.0
134418,201801355348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,7.0,0.0,1.0,0.0,21.0,8.0,9.0,52.0,17.0
134419,201801372856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19,7.0,0.0,1.0,0.0,21.0,8.0,9.0,52.0,17.0

# Check for importance

In [24]:
from sklearn.ensemble import ExtraTreesClassifier

In [36]:
#### set X and y
## two dependent variable: MAX_VSEV(maximum injury sustained in the vehicle) and 
## DEFORMED(amount of damage sustained by this vehicle(indicate by police))
y = df['DEFORMED']
# get object list
object_list = list(df.select_dtypes(include=['object']).columns)

x = df.drop(['CASENUM','DEFORMED'],axis = 1)
x = x.drop(object_list, axis=1)

In [33]:
# Build a forest and compute the impurity-based feature importances
forest = ExtraTreesClassifier(n_estimators=250,
                              random_state=0)

In [37]:
forest.fit(x, y)
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
# Plot the impurity-based feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X.shape[1]), importances[indices],
        color="r", yerr=std[indices], align="center")
plt.xticks(range(X.shape[1]), indices)
plt.xlim([-1, X.shape[1]])
plt.show()